@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination {
  @apply !-bottom-8 !text-left lg:!-bottom-14;
}

.swiper-pagination-bullet {
  @apply !h-0.5 !w-7 !rounded-none !bg-white;
}

/* .content {
  height: 490px;
  width: 360px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.front {
  background-position: 50%;
  background-size: cover;
}

.back,
.front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.front .frontImage {
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.back .inner,
.front .inner {
  height: 100%;
  padding: 1.5em;
  position: relative;
  transform: translateZ(80px) scale(0.94);
  z-index: 1;
}

.back {
  transform: rotateY(-180deg);
  background-color: aquamarine;
}

.content:hover .front {
  transform: rotateY(180deg);
}

.content:hover .back {
  transform: rotateY(0deg);
} */

/* .content {
  @apply relative max-w-[406px] transform transition-[transform] duration-[700ms] [transition-timing-function:cubic-bezier(0.4,0.2,0.2,1)];
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front {
  @apply transition-[transform] duration-[700ms] [transition-timing-function:cubic-bezier(0.4,0.2,0.2,1)];
  transform-style: "preserve-3d";
}

.back {
  @apply absolute top-0 clear-start h-full w-full rounded-[20px] bg-slate-400 bg-cover bg-center transition-[transform] duration-[700ms] [transition-timing-function:cubic-bezier(0.4,0.2,0.2,1)];
  transform: rotateY(-180deg);
  transform-style: "preserve-3d";
}

.front,
.back {
  backface-visibility: hidden;
  transform-style: "preserve-3d";
}

.front .inner {
  @apply absolute top-0 z-10 h-full w-full;
}

.back .inner {
  @apply relative z-10 h-full p-6;
}

.back .inner,
.front .inner {
  transform: translateZ(80px) scale(0.94);
  z-index: 1;
}

.content:hover .front {
  transform: rotateY(180deg);
  transform-style: "preserve-3d";
}

.content:hover .back {
  transform: rotateY(0deg);
  transform-style: "preserve-3d";
} */

/* .content {
  @apply relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.back,
.front {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  @apply z-10;
}

.back {
  transform: rotateY(-180deg);
}

.front,
.back {
  @apply absolute top-0 h-full w-full transition-[transform] duration-1000 [transition-timing-function:cubic-bezier(0.4,0.2,0.2,1)];

  transform-style: "preserve-3d";
}

.back .inner,
.front .inner {
  @apply h-full w-full px-7 pt-14;
  transform: translateZ(80px) scale(0.94);
}

.content:hover .front {
  transform: rotateY(180deg);
}

.content:hover .back {
  transform: rotateY(0deg);
} */

.team-swiper .swiper-wrapper {
  /* @apply gap-20 md:justify-center; */
}

.content {
  @apply relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.back,
.front {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  @apply transition-[transform] duration-1000 [transition-timing-function:cubic-bezier(0.4,0.2,0.2,1)];
  transform-style: "preserve-3d";
}

.back {
  @apply absolute top-0 h-full w-full transition-[transform] duration-1000 [transition-timing-function:cubic-bezier(0.4,0.2,0.2,1)];
  transform: rotateY(-180deg);
  transform-style: "preserve-3d";
}

.back .inner,
.front .inner {
  transform: translateZ(80px) scale(0.94);
}

.content:hover .front {
  transform: rotateY(180deg);
}

.content:hover .back {
  transform: rotateY(0deg);
}
